@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 100px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.nav span {
    font-size: 3.2rem;
    margin-right: 10px;
}

#h1-rock {
    color: #654321;
}

#h1-paper {
    color: burlywood;
}

#h1-scissors {
    color: coral;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    column-gap: 50px;
}

.buttons button {
    padding: 8px 30px;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
}

.buttons button:hover {
    transform: scale(1.15);
}

#btn-rock {
    background-color: #654321;
}

#btn-paper {
    background-color: burlywood;
}

#btn-scissors {
    background-color:coral
}

.game-info {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rule {
    font-size: 1.8rem;
}

.score {
    display: flex;
    column-gap: 30px;
}

.score div {
    font-size: 2rem;
    font-weight: bold;
}

#player-score {
    color: green;
}

#computer-score {
    color: red;
}

.round-info {
    font-size: 1.6rem;
}

.match-info {
    font-size: 2rem;
}

.footer {
    height: 60px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.footer p {
    font-size: 1.4rem;
}

.footer > a {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer > a > img {
    height: 60%;
    width: auto;
}

.footer > a > img:hover {
    transform: scale(1.2);
}